* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  border: 1px solid teal;
  margin: 20px;
  padding: 20px;
  /* line-height: 20px; */
}

.container h1 {
  color: red;
}

.container li {}